.idea/
.bin/
.vs
logs/
.DS_Store
*.log
workspace.xml
node_modules/
*.iml
manifest.json
coverage
doc
.*.sw?
npm-debug.log
newrelic_agent.log
npm-debug.log.*
*.sublime-*
dist
test/output/**/*.xml
jsconfig.json
.vscode
typings/
.history/
.nyc_output/
data-migration/data/

# *** Boilerplate auto-update files v3.0.97
/.dockerignore
/.editorconfig
/Makefile
/.npmrc
/docker/supervisor.conf
/newrelic.js
